.color {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline;
  float: left;
  margin: 10px 10px 10px 10px;
}
.burlywood{
  background-color: burlywood;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.purple{
  background-color: #6441A5;
}
.green{
  background-color: green;
}
.orange{
  background-color: orange;
}
.brown{
  background-color: brown;
}
.magenta{
  background-color: magenta;
}
.black{
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline;
  float: left;
  margin: 10px 10px 10px 10px;
}
